version: "3.9"
services:
    api:
        container_name: nestjs_api
        build: ./nestjs/
        ports:
            - 3000:3000
        volumes:
            - ./nestjs/:/app
    app:
        container_name: reactjs_app
        build: ./react/
        ports:
            - 3001:3000
        links:
            - api
        volumes:
            - ./react/:/app